<h3>{{viewTitle}}</h3>

<form action="/location" method="POST" autocomplete="off">

    <div class="row">

        <div class="col-md-6">
            <canvas id="targetCanvas" width="750" height="425"></canvas>
            <script src="../socket.io/socket.io.js"></script>
            <script type="text/javascript">

                setInterval(function () {
                    const socket = io('http://localhost:3000');

                    var xfield = 6;
                    var yfield = 6;
                    var xpixel = 750;
                    var ypixel = 425;
                    var offset = 375;

                    socket.on('data-sent', (data) => {
                        console.log('After socket on: ' + data.a1);

                        let A1 = data.a1;
                        let A2 = data.a2;
                        let A3 = data.a3;

                        let tid = A1;
                        let xPosition = A2;
                        let yPosition = A3;

                        console.log(xPosition + '  ' + yPosition);

                        var canvas = document.getElementById("targetCanvas");
                        var ctx = canvas.getContext("2d");
                        var image = new Image();

                        function init() {
                            image.src = "../images/image1.jpg";
                            window.requestAnimationFrame(draw);
                        }

                        function drawBall(tag_xcale, tag_ycale) {
                            xLocation = (tag_xcale / xfield) * xpixel + offset;
                            yLocation = (tag_ycale / yfield) * ypixel;
                            ctx.beginPath();
                            ctx.arc(xLocation, yLocation, 10, 0, 2 * Math.PI);
                            ctx.fillStyle = "#2775f2";
                            ctx.fill();
                            ctx.closePath();

                        }

                        function draw() {


                            ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                            for (count = 0; count < tid.length; count++) {
                                drawBall(xPosition[count], yPosition[count]);
                               

                            }
                            window.requestAnimationFrame(draw);


                        }
                        init();

                    });

                }, 100);


            </script>

            {{!--  <img id="myImage" src="../images/image1.jpg" alt="piooop" style="display: none;"> --}}
        </div>
    </div>

</form>