<h3>Target List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>tid</th>
            <th>xAxis</th>
            <th>yAxis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.tid}}</td>
            <td>{{this.xAxis}}</td>
            <td>{{this.yAxis}}</td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>